config/Code/*
config/configstore/
config/git/*.profile.gitconfig
config/git/profiles.gitconfig
config/irb/irb_history
config/iterm2/
config/nvm/
config/sublime-text-3/*
config/sublime-text-4/*
config/VSCodium/*
config/VSCodium/User/settings.json
config/wireshark/
config/nvim/plugin/
config/tmux/plugins/
config/dlv/
config/exercism/
