[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty

# vim plugins below
[submodule "config/vim/pack/plugins/start/nerdtree"]
	path = config/vim/pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "config/vim/pack/plugins/start/vim-fugitive"]
	path = config/vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "config/vim/pack/plugins/start/vim-ruby"]
	path = config/vim/pack/plugins/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "config/vim/pack/plugins/start/gruvbox"]
	path = config/vim/pack/plugins/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "config/vim/pack/plugins/start/vim-textobj-rubyblock"]
	path = config/vim/pack/plugins/start/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "config/vim/pack/plugins/start/vim-textobj-user"]
	path = config/vim/pack/plugins/start/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "config/vim/pack/plugins/start/vim-gitgutter"]
	path = config/vim/pack/plugins/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "config/vim/pack/plugins/start/ctrlp.vim"]
	path = config/vim/pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "config/vim/pack/plugins/start/rainbow_csv"]
	path = config/vim/pack/plugins/start/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv.git
[submodule "config/vim/pack/plugins/start/vim-elixir"]
	path = config/vim/pack/plugins/start/vim-elixir
	url = https://github.com/elixir-editors/vim-elixir.git
[submodule "config/kitty/kitty-themes"]
	path = config/kitty/kitty-themes
	url = git@github.com:dexpota/kitty-themes.git
